/* Base */
:root {
  /* Transformer */
  --to-rem: calc(1rem / 16);

  /* Color */
  --color-dark: #18181b;
  --color-light: #e0e0e0;

  /* Font Family */
  --font-sans: "Inter", sans-serif;

  /* Font Size */
  --font-size-lg: calc(20 * var(--to-rem));
  --font-size-xl: calc(24 * var(--to-rem));
  --font-size-2xl: clamp(24 * var(--to-rem), 1.3239rem + 0.7512vi, 32 * var(--to-rem));
  --font-size-3xl: clamp(32 * var(--to-rem), 1.8239rem + 0.7512vi, 40 * var(--to-rem));

  /* Space */
  --space-md: clamp(16 * var(--to-rem), 0.6479rem + 1.5023vi, 32 * var(--to-rem));
  --space-lg: clamp(24 * var(--to-rem), 0.9718rem + 2.2535vi, 48 * var(--to-rem));

  /* Offset */
  --offset-sm: 5vi;
  --offset-md: 10vi;
  --offset-lg: 15vi;

  /* Viewport */
  --is-viewport: small;

  @media (width >= 48rem) {
    --is-viewport: medium;
  }
  @media (width >= 64rem) {
    --is-viewport: large;
  }
}

/* General */
:where(html) {
  font-family: var(--font-sans);
  color: var(--color-light);
  background-color: var(--color-dark);
}

:where(p) {
  margin-block: 2em;
}

/* Header */
.header {
  padding-block: var(--space-lg);
}

.header-title {
  font-size: var(--font-size-xl);
}

/* Footer */
.footer {
  padding-block: var(--space-lg);
}

/* Container */
.container {
  --container-offset: var(--offset-md);

  padding-inline: attr(data-offset vi, var(--container-offset));
}

.container-over-start {
  margin-inline-start: calc(-1 * var(--container-offset));
}

.container-over-end {
  margin-inline-end: calc(-1 * var(--container-offset));
}

/* Grid */
.grid {
  --grid-cols-sm: 1;
  --grid-gap-sm: 0;
  --grid-cols: var(--grid-cols-sm);
  --grid-gap: var(--grid-gap-sm);

  display: block grid;
  grid-template-columns: repeat(var(--grid-cols), minmax(var(--grid-min-size, 0), 1fr));
  gap: var(--grid-gap);

  @container style(--is-viewport: medium) {
    --grid-cols-md: var(--grid-cols-sm);
    --grid-gap-md: var(--grid-gap-sm);
    --grid-cols: var(--grid-cols-md);
    --grid-gap: var(--grid-gap-md);
  }

  @container style(--is-viewport: large) {
    --grid-cols-lg: var(--grid-cols-md);
    --grid-gap-lg: var(--grid-gap-md);
    --grid-cols: var(--grid-cols-lg);
    --grid-gap: var(--grid-gap-lg);
  }

  & > * {
    --grid-col-sm: auto;
    --grid-row-sm: auto;
    --grid-order-sm: 0;
    --grid-col: var(--grid-col-sm);
    --grid-row: var(--grid-row-sm);
    --grid-order: var(--grid-order-sm);

    grid-column: var(--grid-col);
    grid-row: var(--grid-row);
    order: var(--grid-order);

    @container style(--is-viewport: medium) {
      --grid-col-md: var(--grid-col-sm);
      --grid-row-md: var(--grid-row-sm);
      --grid-order-md: var(--grid-order-sm);
      --grid-col: var(--grid-col-md);
      --grid-row: var(--grid-row-md);
      --grid-order: var(--grid-order-md);
    }

    @container style(--is-viewport: large) {
      --grid-col-lg: var(--grid-col-md);
      --grid-row-lg: var(--grid-row-md);
      --grid-order-lg: var(--grid-order-md);
      --grid-col: var(--grid-col-lg);
      --grid-row: var(--grid-row-lg);
      --grid-order: var(--grid-order-lg);
    }
  }
}

/* Section */
.section {
  margin-block-start: var(--space-lg);
}

.section-cover {
  margin-inline: calc(-1 * var(--container-offset));
  aspect-ratio: 1.618 / 1;

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
}

/* Heading */
.heading {
  font-size: var(--font-size-3xl);
}

/* Contents */
.contents {
  display: block grid;
  row-gap: var(--space-md);
  margin-block-start: var(--space-md);
}

.contents-title {
  font-size: var(--font-size-2xl);
}

/* Content */
.content {
  --grid-gap: var(--space-lg);
  --grid-cols-md: 2;
}

.content-cover {
  aspect-ratio: 1.414 / 1;

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .content:nth-child(odd) & {
    --grid-order-md: 1;
  }
}

.content-title {
  font-size: var(--font-size-lg);
}

/* Box */
.box {
  container: box / inline-size;
  display: block grid;
  place-content: center;
  aspect-ratio: 1;
  color: var(--color-dark);
  background-color: var(--color-light);

  span {
    font-size: clamp(24 * var(--to-rem), 0.5rem + 6.6667cqi, 40 * var(--to-rem));
    font-weight: 900;
  }
}
